@{
    ViewBag.Title = "Listen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="audio">
    <audio controls>
        <source src="https://mymusicfiles.blob.core.windows.net/music/music/audioFile29039915-16a9-4757-a677-ccfccafeb38f.mp3" type="audio/mp3" />
        <p>Your browser does not support HTML 5 audio element</p>
    </audio>
</article>
